<h1>Edit A Song!</h1>
<br>
<%= form_for @song, url: new_song_path do |f| %>

  <%= f.label :name, 'Song Title:'  %>
  <%= f.text_field :name %>

  <%= f.label :artist_id, 'Artist Name:'  %>
  <%= f.text_field :artist_id %>

  <%= f.label :genre_id, 'Genre Name:'  %>
  <%= f.text_field :genre_id %>

  <%= f.submit %>

  <% end %>
